<%- include ('../partials/header'); %>

<div class="container text-center">
<header class="jumbotron mt-4 bg-secondary">
	<div class="container">
	<h1>EDIT <%= campground.name%>!</h1>
	</div>
	</header>
</div>
<div class="container text-center">
<div style="width: 30%; margin: 0 auto;" >
<form action="/campGround/<%=campground._id%>?_method=PUT" method="POST">
	<input class="form-control" type="text" name="campground[name]" value="<%= campground.name%>"><br>
	<input class="form-control" type="text" name="campground[img]" value="<%=campground.img%>"><br>
	<input class="form-control" type="text" name="campground[description]" value="<%=campground.description%>"><br>
	<button class="btn btn-lg btn-block btn-primary">SUBMIT</button>
</form>
</div>
</div><br><br>
<div class="text-center">

<a  href="/campGround">Goback</a>
</div>



<%- include ('../partials/footer'); %>